<h1 align="center">Lisf of all categories</h1>
<div align="center">
  <% @categories.each do |cat| %>
    <ul class="listing">
      <dlv class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="well well-lg">
            <div class="article-title">
              <%= link_to cat.name, category_path(cat) %>
            </div>
          </div>
        </div>
      </div>
    </ul>
  <% end %>
</dlv>